{% extends 'blog/base.html' %}

{% block mainArea %}

{% if user.is_authenticated %}
    {% if user.is_superuser or user.is_staff %}
        <a class="btn btn-info btn-sm float-right" href="/blog/create_post/" role="button"><i class="fas fa-pen"></i>&nbsp;&nbsp;New Post</a>
    {% endif %}
{% endif %}

<h1>
    Blog
    {% if category %}
        <span class="badge badge-secondary">{{ category }}</span>
    {% endif %}

    {% if tag %}
        <span class="badge badge-ligth"><i class="fas fa-tags"></i>{{ tag }} ({{ tag.post_set.count }})</span>
    {% endif %}
</h1>
    {% if post_list.exists %}
        {% for post in post_list %}
        <!-- Blog post-->
        <div class="card mb-4" id="post-{{ post.pk }}">
            {% if post.headImage %}
                <img class="card-img-top" src="{{ post.headImage.url }}" alt="{{ post }} Head Image">
            {% else %}
                <img class="card-img-top" src="https://picsum.photos/seed/{{ post.id }}/800/200" alt="Random Image">
            {% endif %}
            
            <div class="card-body">
                <div class="small text-muted">{{ post.createTime }}</div>
                {% if post.category %}
                    <span class="badge badge-secondary float-right">{{ post.category }}</span>
                {% else %}
                    <span class="badge badge-secondary float-right">Unclassified</span>
                {% endif %}
                <h2 class="card-title h4">{{ post.title }}</h2>

                {% if post.hookText %}
                    <h5 class="text-muted">{{ post.hookText }}</h5>
                {% endif %}
                <p class="card-text">{{ post.get_content_markdown | truncatewords_html:45 | safe }}</p>

                {% if post.tags.exists %}
                    <i class="fas fa-tags"></i>
                    {% for tag in post.tags.all %}
                        <a href="{{ tag.get_absolute_url }}"><span class="badge badge-pill badge-light">{{ tag }}</span></a>
                    {% endfor %}
                    <br/>
                    <br/>
                {% endif %}

                <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Read more &rarr;</a>
            </div>
            <div class="card-footer text-muted">
                Posted on {{ post.createTime }} by
                <a href="#">{{ post.author | upper }}</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h3>Any Posts not Exist</h3>
    {% endif %}

        {% if is_paginated %}
        <!-- Pagination-->
        <ul class="pagination justify-content-center mb-4">
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&larr; Older</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">&larr; Older</a>
            </li>
            {% endif %}

            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Newer &rarr;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Newer &rarr;</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}

{% endblock %}