{% extends 'blog/base.html' %}

{% block mainArea %}
<h1>Blog</h1>
    {% if post_list.exists %}
        {% for post in post_list %}
        <!-- Blog post-->
        <div class="card mb-4">
            {% if post.headImage %}
                <img class="card-img-top" src="{{ post.headImage.url }}" alt="{{ post }} Head Image">
            {% else %}
                <img class="card-img-top" src="https://picsum.photos/seed/{{ post.id }}/800/200" alt="Random Image">
            {% endif %}
            <div class="card-body">
                <div class="small text-muted">{{ post.createTime }}</div>
                <h2 class="card-title h4">{{ post.title }}</h2>
                {% if post.hookText %}
                    <h5 class="text-muted">{{ post.hookText }}</h5>
                {% endif %}
                <p class="card-text">{{ post.content | truncatewords:45 }}</p>
                <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Read more &rarr;</a>
            </div>
            <div class="card-footer text-muted">
                Posted on {{ post.createTime }} by
                <a href="#">Location of Author</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h3>Any Posts not Exist</h3>
    {% endif %}
        <!-- Pagination-->
        <nav aria-label="Pagination">
            <hr class="my-0" />
            <ul class="pagination justify-content-center my-4">
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                <li class="page-item"><a class="page-link" href="#!">2</a></li>
                <li class="page-item"><a class="page-link" href="#!">3</a></li>
                <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                <li class="page-item"><a class="page-link" href="#!">15</a></li>
                <li class="page-item"><a class="page-link" href="#!">Older</a></li>
            </ul>
        </nav>
{% endblock %}